<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddhuy4298.chatapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_chatapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_chatapp_round"
        android:supportsRtl="true"
        android:theme="@style/MainTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ChatActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>